/* src/components/Layout.css */

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  width: 230px;
  background: linear-gradient(to bottom, #74045f 50%, #c7911b 100%);
  color: #fefcff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sidebar .nav-link {
  color: #fefcff;
  border-radius: 20px;
}

.sidebar .nav-link.active {
  color: #fefcff;
  background-color: #c7911b;
  border-radius: 20px;
  text-decoration: underline;
}

.sidebar .footer {
  position: absolute;
  width: 190px;
  bottom: 30px;
  /* จัดเนื้อหาให้อยู่ด้านล่าง */
}

.sidebar .footer.equip {
  position: absolute;
  width: 190px;
  bottom: 30px;
  /* จัดเนื้อหาให้อยู่ด้านล่าง */
}

.sidebar .footer.user {
  position: absolute;
  width: 190px;
  bottom: 30px;
  /* จัดเนื้อหาให้อยู่ด้านล่าง */
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo-img {
  width: 160px;
  height: auto;
  margin-bottom: 5px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fefcff;
  /* Light background for main content */
}

.content-main {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #c7911b;
}

.content-i {
  flex: 1;
  height: 100vh;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #c7911b;
}

/*.content-header {
  background-color: purple;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}*/

/* Custom Modal Styles */
.modal-header {
  background-color: #c7911b;
  /* สีพื้นหลัง Header */
  color: #fefcff;
  /* สีข้อความ */
  padding: 20px;
}

.modal-header-form {
  background-color: #74045f;
  /* สีพื้นหลัง Header */
  color: #fefcff;
  /* สีข้อความ */
  padding: 20px;
}

.modal-body {
  font-size: 1rem;
  /* ปรับขนาดตัวอักษรใน Body */
  line-height: 1.6;
  /* ระยะห่างบรรทัด */
  background-color: #fefcff;
}

.modal-footer {
  border-top: none;
  /* เอาเส้นขอบบนออก */
  display: flex;
  background-color: #f8f9fa;
  /* สีพื้นหลัง Footer */
}

.equip-img {
  width: 70px;
  height: auto;
  margin-bottom: 5px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #74045f;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #74045f 30%, #c7911b 100%);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #74045f 30%, #c7911b 100%);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #74045f 50%, #c7911b 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #74045f 50%, #c7911b 100%);
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.card {
  background-color: rgba(245, 245, 245, 0.8);
}

/* Sidebar Dropdown */

.dropdown-menu {
  background-color: rgba(52, 58, 64, 0.7);
  /* Dark background */
  border-radius: 20px;
  /* Rounded corners */
  min-width: 100px;
  /* Minimum width of the dropdown */
  padding: 0;
  /* Remove padding */
}

/* Custom Dropdown Item */
.dropdown-item {
  color: #fefcff;
  /* Light text color */
  border-radius: 20px;
  padding: 10px 20px;
  /* Padding inside items */
  font-size: 14px;
  /* Font size for items */
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.dropdown-item:hover {
  background-color: #c7911b;
  /* Blue background on hover */
  border-radius: 20px;
  background: linear-gradient(160deg, #c7911b 30%, #74045f 100%);
  color: #fff;
  /* White text on hover */
}

/* Icon Styling */
.dropdown-item i {
  border-radius: 20px;
  color: #fefcff;
  /* Set the icon color to match the text */
  padding-right: 10px;
  /* Space between icon and text */
}

.card-info {
  border: none;
  width: 90%;
}

.card-body-info {
  border: none;
  background-color: #fff;
}

/* user management */
a.active-link {
  text-decoration: underline !important;
  font-weight: bold; /* เพิ่มน้ำหนักตัวอักษร */
  color: white; /* คงสีไว้เป็นสีขาว */
}
